{% extends "index.html" %}

{% block edit %}
    <div class="editMenu"><a href="/{{page}}">View</a> | <a href="/_history/{{page}}">History</a></div>
{% endblock %}

{% block content %}
     <div class="editWrapper">
     <h1 class="pageTitle">{{title.capitalize()}}</h1>
     <div class="editerror error">{{error}}</div>
     <form method="post">
        <textarea name="content">{{content}}</textarea>
        <input class = "editButton orange" type="submit" value="Post"/>
     </form>
 
     </div>
     
     
{% endblock %}

